@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

/*header css start*/

.header {
    width: 100%;
    padding: 20px 0px;
    background: #21146A;
}

.header .fixed-top {
    width: 100%;
    padding: 20px 0px;
    background: #21146A;
}

.header .isStuck {
    left: 0px;
    width: 100%;
    background: #412fb3;
}
.navbar-brand {
    padding-left: 60px;
    margin-top: -8px;
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 0px;
}

.header .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0px 20px 0px 20px;
}

.header .navbar-nav .nav-item .nav-link:hover,
.header .navbar-nav .nav-item .nav-link:focus {
    color: #ccc;
}

.header .navbar-nav .nav-item .btn-success {
    padding: 14px 36px;
    margin-left: 35px;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 700;
    color: #21146A;
    background: #fff;
    border: 1px solid #21146A;
    transition: 1s;
    box-shadow: 0 0 0 0.0rem #fff;
}

.header .navbar-nav .nav-item .btn-success:hover,
.header .navbar-nav .nav-item .btn-success:focus {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

/*banner css start*/

.banner {
    width: 100%;
    padding: 130px 0px 80px;
}

.inner-banner {
    width: 100%;
    padding: 40px 0px;
}

.inner-banner h1 {
    font-size: 56px;
    line-height: 66px;
    font-weight: 700;
    color: #fff;
}

.inner-banner p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    margin: 25px 0px;
}

.banner .inner-banner .btn-success {
    box-shadow: 0 0 0 0.1rem #21146A;
}

.inner-banner .btn-success {
    padding: 13px 42px;
    margin-top: 25px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #21146A;
    background: #fff;
    border: 1px solid #21146A;
    transition: 1s;
}

.inner-banner .btn-success:hover,
.inner-banner .btn-success:focus {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

/* Landing css start here */

.awesome-section {
    width: 100%;
    padding: 100px 0;
}

.awesome-section h1 {
    font-weight: 700;
    font-size: 46px;
    color: #3A4154;
}

.awesome-section p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #777;
}

.service-section {
    width: 100%;
    padding: 60px 0px;
}

.inner-service {
    border: 1px solid #FAF9FF;
    background: #FAF9FF;
    padding: 20px 30px;
    transition: 1s;
}

.inner-service:hover {
    background: #fff;
    box-shadow: 0px 10px 20px 0px;
}

.inner-service h3 {
    font-weight: 700;
    margin: 15px 0;
}

.inner-service i {
    font-size: 35px;
}

/*landing css start*/

.landing-section {
    width: 100%;
    padding: 80px 0px;
    background: #FAF9FF;
}

.inner-landing {
    margin: 30px 0px 0px 20px;
}

.inner-landing h1 {
    font-weight: 700;
    font-size: 46px;
}

.inner-landing p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #777;
    margin-top: 15px;
    margin-bottom: 35px;
}

.landing-section .feature-btn {
    padding: 12px 40px;
    border: 1px solid #21146A;
    border-radius: 35px;
    background: transparent;
    color: #21146A;
    font-weight: 700;
    transition: 1s;
}

.inner-landing .feature-btn:hover,
.inner-landing .feature-btn:focus {
    background: #21146A;
    color: #fff;
}

/*offer section css*/

.offer {
    width: 100%;
    background: #FFFF;
    padding: 80px 0;
}

.offer h1 {
    font-weight: 700;
    font-size: 52px;
}

.offer p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #777;
    margin: 0px 0px 30px;
}

.offer-section {
    margin-top: 100px;
}

.service-1 {
    background: #FAF9FF;
    padding: 20px 30px;
    transition: 0.5s;
}

.service-1:hover {
    background: #fff;
    box-shadow: 0px 10px 20px 0px;
    transition: 0.5s;
}

.service-1 h3 {
    font-size: 26px;
    font-weight: 600;
    margin: 15px 0;
    color: #40414E;
}

.service-1 i {
    font-size: 40px;
}

/*simple css start*/

.simple-section {
    width: 100%;
    background: #FAF9FF;
    padding: 80px 0;
}

.inner-simple {
    margin: 30px 0px 0px 50px;
}

.simple-section .inner-simple h1 {
    font-weight: 700;
    font-size: 40px;
    color: #3A414E;
}

.simple-section .inner-simple p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #777;
    margin-top: 15px;
    margin-bottom: 25px;
}

.simple-section button {
    padding: 12px 40px;
    border: 1px solid #21146A;
    border-radius: 35px;
    background: transparent;
    color: #21146A;
    font-weight: 700;
    transition: 1s;
}

.simple-section button:hover,
.simple-section button:focus {
    background: #21146A;
    color: #fff;
}

/*pricing code start*/

.pricing {
    width: 100%;
    padding: 80px 0px;
}

.pricing .title {
    width: 100%;
    padding: 0px 0px 40px;
    text-align: center;
}

.title h1 {
    font-weight: 700;
    font-size: 40px;
    color: #3A414E;
}

.title p {
    font-size: 14px;
    color: #999;
    line-height: 24px;
    font-weight: 400;
}

.pricing-table {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
    text-align: center;
    background: #FAF9FF;
}

.pricing-table:hover {
    background: #fff;
    box-shadow: 0px 10px 20px 0px;
    border-radius: 2px;
}

.pricing-table .price-head {
    width: 100%;
    padding: 20px 0px;
}

.pricing-table .price-head h4 {
    padding: 10px 0px 0px;
    margin: 0px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: #3A414E;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.pricing-table .price-head p {
    font-size: 14px;
    color: #999;
    line-height: 24px;
    font-weight: 400;
    margin-top: 5px;
}

.pricing-table .main-price {
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
}

.pricing-table .main-price h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    color: #3A414E;
}

.pricing-table .main-price h1 sup {
    font-size: 35px;
    font-weight: 600;
    color: #3A414E;
}

.pricing-table .main-price p {
    font-size: 14px;
    color: #999;
    line-height: 24px;
    font-weight: 400;
}

.price-content {
    width: 100%;
    padding: 30px 40px;
    border-bottom: 2px solid #eee;
}

.price-content .fa {
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin: 0px 0px 25px;
    display: block;
}

.pricing .pricing-table .btn-primary {
    box-shadow: 0 0 0 0.0rem #fff;
}

.pricing-table .btn-primary {
    padding: 12px 30px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 35px;
    letter-spacing: 1px;
    color: #21146A;
    background: #fff;
    border: 1px solid #21146A;
    text-transform: uppercase;
    transition: 1s;
    margin: 30px 0px;
}

.pricing-table:hover .btn-primary {
    color: #fff;
    background: #21146A;
    border: 1px solid #21146A;
}

.pricing-table .btn-primary:focus {
    color: #fff;
    background: #21146A;
    border: 1px solid #21146A;
}

/*client image section css*/

.client-img {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
}
.client-img .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 85px;
    margin-right: auto;
    margin-left: auto;
}

.owl-carousel .item img {
    width: auto !important;
}

.client-img img {
    filter: grayscale(1);
    opacity: 0.2;
}

.client-img img:hover {
    filter: none;
    opacity: 1;
}

/*footer css code start*/

.footer {
    width: 100%;
    padding: 80px 0px;
    background: #0E1424;
}

.footer h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0px 10px 0px;
    text-align: left;
    letter-spacing: 1px;
}

.footer .widget {
    display: block;
    padding: 10px;
    text-align: left;
}

.footer .widget li {
    list-style: none;
    color: #fff;
    display: block;
    margin: 10px 0px 0px;
}

.footer .widget li a {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #797979;
    text-decoration: none;
}

.footer .widget li a:hover,
.footer .widget li a:focus {
    font-weight: 700;
    transition: 1s;
}

.footer .inner-text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #999;
    margin: 18px 10px 0px;
    text-align: left;
}

.form {
    padding: 30px 0px 0px;
}

.form ul li {
    font-size: 14px;
    line-height: 24px;
    color: #a3b1bf;
    list-style: none;
    margin: 0px 0px 5px;
}

.form ul li .fa {
    margin: 0px 5px 0px 0px;
}

.subscribe {
    width: 60%;
    position: relative;
}

.form .subscribe .form-control {
    padding: 12px;
    font-size: 14px;
    color: #828e99;
    background: #3E4350;
    border: 1px solid #4e5c6c;
    border-radius: 0px;
}

.form .subscribe .form-control:focus {
    box-shadow: 0 0 0 0.1rem #4e5c6c;
}

.subscribe .feature-btn {
    padding: 8px 15px;
    position: absolute;
    top: 10%;
    left: 190px;
    font-size: 14px;
    font-weight: 700;
    color: #21146A;
    background: #fff;
    border: 1px solid #fff;
    transition: 1s;
}

.subscribe .feature-btn:hover,
.subscribe .feature-btn:focus {
    color: #fff;
    background: #21146A;
    border: 1px solid #21146A;
}

.copyright {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #999;
    text-align: left;
    padding: 40px 0px 0px;
}

.copyright span {
    font-weight: 700;
    color: #fff;
}

.icon {
    width: 100%;
    padding: 40px 0px 0px 120px;
    margin: 0px 10px 0px;
}

.icon .fa {
    background: rgba(255,255,255,0.15);
    margin-left: 3px;
    width: 32px;
    color: #fff;
    display: inline-grid;
    text-align: center;
    height: 32px;
    align-content: center;
}

.icon .fa:hover,
.icon .fa:focus {
    color: #fff;
}

/*=======*/

/* 
 279-319
*/

@media (min-width: 279px) and (max-width: 319px) {
    /* CSS Start*/
    .header .navbar-toggler .fa-bars {
        color: #fff;
    }
    .header .navbar-toggler:focus {
        box-shadow: 1px 1px 1px #506a85;
    }
    .header .navbar-nav .nav-item .nav-link {
        margin: 0px;
        font-size: 10px;
    }
    .banner {
        padding: 60px 0px;
    }
    .inner-banner h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .inner-banner p {
        font-size: 12px;
        line-height: 22px;
    }
    .inner-banner .btn-success {
        padding: 10px 25px;
    }
    .title h1 {
        font-size: 22px;
    }
    .title p {
        font-size: 12px;
        line-height: 22px;
    }
    .inner-service {
        margin: 0px 0px 10px;
    }
    .service-1 h3 {
        font-size: 20px;
    }
    .inner-landing h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .inner-landing p {
        font-size: 12px;
        line-height: 22px;
    }
    .landing-section .feature-btn {
        padding: 8px 20px;
    }
    .landing-section {
        padding: 60px 0px;
    }
    .landing-section .img-fluid {
        padding: 50px 0px 0px;
    }
    .simple-section .inner-simple h1 {
        font-size: 22px;
    }
    .simple-section .inner-simple p {
        font-size: 11px;
        line-height: 21px;
    }
    .inner-simple {
        margin: 30px 0px 0px 20px;
    }
    .pricing-table {
        margin: 0px 0px 10px;
    }
    .pricing-table .price-head h4 {
        font-size: 20px;
    }
    .pricing-table .main-price h1 {
        font-size: 40px;
    }
    .subscribe .feature-btn {
        left: 120px;
    }
    /* CSS End */
}

/* 
  320-480
*/

@media (min-width: 320px) and (max-width: 480px) {
    /* CSS  Start*/
    .header .navbar-toggler .fa-bars {
        color: #fff;
    }
    .header .navbar-toggler:focus {
        box-shadow: 1px 1px 1px #506a85;
    }
    .header .navbar-nav .nav-item .nav-link {
        margin: 0px;
        font-size: 12px;
    }
    .banner {
        padding: 60px 0px;
    }
    .inner-banner h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .inner-banner p {
        font-size: 12px;
        line-height: 22px;
    }
    .inner-banner .btn-success {
        padding: 10px 25px;
    }
    .title h1 {
        font-size: 22px;
    }
    .title p {
        font-size: 14px;
        line-height: 24px;
    }
    .inner-service {
        margin: 0px 0px 10px;
    }
    .service-1 h3 {
        font-size: 20px;
    }
    .inner-landing h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .inner-landing p {
        font-size: 14px;
        line-height: 24px;
    }
    .landing-section .feature-btn {
        padding: 8px 20px;
    }
    .landing-section {
        padding: 60px 0px;
    }
    .landing-section .img-fluid {
        padding: 50px 0px 0px;
    }
    .simple-section .inner-simple h1 {
        font-size: 22px;
    }
    .simple-section .inner-simple p {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .inner-simple {
        margin: 30px 0px 0px 20px;
    }
    .pricing-table {
        margin: 0px 0px 10px;
    }
    .pricing-table .price-head h4 {
        font-size: 20px;
    }
    .pricing-table .main-price h1 {
        font-size: 40px;
    }
    .subscribe .feature-btn {
        top: 8%;
        left: 170px;
    }
    /* CSS End */
}

/* 
  481-767
*/

@media (min-width: 481px) and (max-width: 767px) {
    /* CSS Start*/
    .header .navbar-toggler .fa-bars {
        color: #fff;
    }
    .header .navbar-toggler:focus {
        box-shadow: 1px 1px 1px #506a85;
    }
    .header .navbar-nav .nav-item .nav-link {
        margin: 0px;
        font-size: 10px;
    }
    .banner {
        padding: 60px 0px;
    }
    .inner-banner h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .inner-banner p {
        font-size: 12px;
        line-height: 22px;
    }
    .inner-banner .btn-success {
        padding: 10px 25px;
    }
    .title h1 {
        font-size: 22px;
    }
    .title p {
        font-size: 12px;
        line-height: 22px;
    }
    .inner-service {
        margin: 0px 0px 10px;
    }
    .service-1 h3 {
        font-size: 20px;
    }
    .inner-landing h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .inner-landing p {
        font-size: 12px;
        line-height: 22px;
    }
    .landing-section .feature-btn {
        padding: 8px 20px;
    }
    .landing-section {
        padding: 60px 0px;
    }
    .landing-section .img-fluid {
        padding: 50px 0px 0px;
    }
    .simple-section .inner-simple h1 {
        font-size: 22px;
    }
    .simple-section .inner-simple p {
        font-size: 11px;
        line-height: 21px;
    }
    .inner-simple {
        margin: 30px 0px 0px 20px;
    }
    .pricing-table {
        margin: 0px 0px 10px;
    }
    .pricing-table .price-head h4 {
        font-size: 20px;
    }
    .pricing-table .main-price h1 {
        font-size: 40px;
    }
    .subscribe .feature-btn {
        top: 8%;
        left: 185px;
    }
    /* CSS End */
}
